@font-face {
    font-family: "Nougat";
    font-weight: 800;
    src: url(./Nougat-ExtraBlack-Modified.ttf);
}

@font-face {
    font-family: "Gemunu_Libre";
    font-weight: 300 900;
    src: url(./Gemunu_Libre/GemunuLibre-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Playfair";
    font-weight: 300 900;
    src: url(./Playfair/Playfair-VariableFont_opsz\,wdth\,wght.ttf);
}

@font-face {
    font-family: "Playfair";
    font-weight: 300 900;
    font-style: italic;
    src: url(./Playfair/Playfair-Italic-VariableFont_opsz\,wdth\,wght.ttf);
}

@font-face {
    font-family: "Changa";
    font-weight: 300 900;
    src: url(./Changa/Changa-VariableFont_wght.ttf);
}

body {
    font-family: sans-serif;
    margin: 0;
    background: #000033;
    min-height: 100vh;
    min-height: 100dvh;
    position: relative;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin: 1rem;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    font-size: 2rem;
    margin-top: 1rem;
}

header > a {
    color: white;
    text-decoration: none;
}

header form input {
    font-family: Playfair;
}

.newsPost {
    border: 1px solid #000022;
    border-radius: 0.2rem;
    background: #c7ccfc;
    padding: 1rem;
    margin: 0.5rem 0;
    align-self: stretch;
    color: initial;
    font-family: Gemunu_Libre;
}

.newsPost a {
    color: #000088;
}

.emoji {
    width: 1em;
    height: 1em;
}

.attachmentList {
    display: flex;
    width: 100%;
    gap: 1rem;
}

.attachment {
    flex-grow: 1;
    width: 0;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
}
main > a, footer a {
    color: white;
}
main > div {
    align-self: start;
}
.footerSpacing {
    height: 5rem;
}

#feeds {
    display: flex;
    column-gap: 1rem;
    max-width: 80vw;
    overflow-x: scroll;
}

#feeds li {
    display: inline;
}

#feeds a {
    color: #aaa;
    font-size: 1.2rem;
    font-family: Gemunu_Libre;
}

#feeds a.current {
    color: white;
}

.sub {
    color: #bbb;
    font-size: 0.9em;
}

.newsPost .sub {
    color: #444;
}

time {
    background: #0000000f;
    padding: 0.15rem;
    border-radius: 0.15rem;
}

h1 {
    font-family: Nougat;
}

header > a, h2 {
    font-family: Changa;
    font-weight: 800;
}