body {
    font-family: sans-serif;
    margin: 0;
    background: #000033;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin: 1rem;
}

header {
    color: white;
    text-align: center;
    font-size: 2rem;
    margin-top: 1rem;
}
.newsPost {
    border: 1px solid #000022;
    border-radius: 0.2rem;
    background: #aaaaee;
    padding: 1rem;
    margin: 0.5rem 0;
    align-self: stretch;
    color: initial;
}

.emoji {
    width: 1em;
    height: 1em;
}

.attachmentList {
    display: flex;
    width: 100%;
    gap: 1rem;
}

.attachment {
    flex-grow: 1;
    width: 0;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    position: absolute;
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
}
main > a, footer a {
    color: white;
}
main > div {
    align-self: start;
}
.footerSpacing {
    height: 5rem;
}